#time-skipper-toolbar {
  --skipper-scale: 1;

  position: fixed;
  top: 0;
  left: 50%;
  width: max-content;
  max-width: calc(100vw - 24px);
  height: 85px;
  padding: 0 22px;
  box-sizing: border-box;

  background: rgba(15, 15, 15, 0.85);
  backdrop-filter: blur(6px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;

  z-index: 2147483647;
  transition: transform 0.2s ease-in-out;
  transform-origin: top center;
  transform: translateX(-50%) translateY(calc(-100% - 6px))
    scale(var(--skipper-scale));

  font-family: sans-serif;
  user-select: none;
  white-space: nowrap;
}

#time-skipper-toolbar.visible {
  transform: translateX(-50%) translateY(0) scale(var(--skipper-scale));
}

.skipper-group {
  display: flex;
  gap: 12px;
}

#skipper-time {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  min-width: 100px;
  text-align: center;
  padding: 0 20px;
}

.skipper-btn {
  background: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 13px 22px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s;
}

.skipper-btn:hover {
  background: #555;
  transform: scale(1.05);
}
